body {
	background-color: white;
	margin: 0px;
	align: center;
	color: #CCC;
	font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
}

h1{
	font-weight: 700;
	font-size: 56px;
}

#introimg{
	width: 100%;
	position: relative;
}

#main{
	color: #1D242B;
	background-color: #FAFAFA;
	text-align: center;
	padding: 40px;
}

#sect{
    display: flex;
}

#imgbox{
    width: 40%;
    float: left;
}

#textbox{
    display: inline;
    text-align: center;
}

p{
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
}

#iimg{
	border-width: 10px;
	border-style: solid;
	border-color: black;
    border-radius: 20px;
    vertical-align: top;
    display: inline;
}

#img2{
	width: 100%;
	display: block;
}

hr{
    width: 16%;
}