body {
	background-color: white;
	margin: 0px;
	align: center;
	color: #CCC;
	font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
}

h1{
	text-transform: uppercase;
	margin-top: 12%;
	font-weight: 700;
	color: white;
	font-size: 56px;
	text-align: center;
}

#intro{
	width: 100%;
	position: relative;
}

hr{
    width: 16%;
}

#about{
	color: #1D242B;
	background-color: #FAFAFA;
	text-align: center;
	padding: 40px;
}

#links{
	height: 100px;
	color: #FAFAFA;
	text-align: center;
	background-color: #1D242B;
	padding: 40px;
}

#mods{
	height: 100px;
	text-align: center;
	padding: 40px;
	background-color: #C7EEFF;
	color: #1D242B;
}

img{
	width: 100%;
	display: block;
}

img2{
	border-width: 3px;
	border-style: solid;
	border-color: black;
}