body {
    margin: 20px auto;
    width: 70%;
	background-color: lightblue;
}

div{
	background-color: black;
	margin: 10px;
	top: 0px;
	left: 0px;
	color: white;
	width: 100%;
	padding: 20px;
	align: center;
}

body{
	align: center;
	text-align: center;
}